body{
  color: #222;

}
img{
  max-width: 100%;
}
main{
  padding: 10px ;
  max-width: 800px;
  margin: 0 auto ;
}
header{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;

}
header a{
  text-decoration: none;
  color:inherit;
}
header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}

header nav{
  display: flex;
  gap:15px;
}
div.post{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}
div.post div.texts h2{
  margin: 0;
  font-size: 1.5rem;
}
div.texts p{
  margin: 10px 0;;
}
div.texts h3{
  font-size: 1.2rem;
  margin-bottom: 10px;
}

div.post p.info{
  margin:6px 0;
  color: gray;
  font-size: .8rem;
  font-weight: bold;
  display: flex;
  gap : 10px;
}

div.post p.info a.author{
  color: #333;
}

div.post p.summary{
  margin: 10px 0;
  line-height: 1.4rem;
}